<h1>This is a demo app for <a href="https://github.com/ayushn21/actiontext-syntax-highlighter">actiontext-syntax-highlighter</a></h1>

<p>
  The experience is a bit flaky, especially on Safari. If you've got any suggestions for how to improve it, please file an issue or, even better, open a pull request!
</p>

<h2>New Post</h2>

<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>

<p>Source code for this app is available at: <a href="https://github.com/ayushn21/actiontext-syntax-highlighter-demo">https://github.com/ayushn21/actiontext-syntax-highlighter-demo</a></p>